@model Cart

<form class="left-column-cart" method="get" asp-action="Order">
    @{
        decimal total_price = 0;
        foreach (var item in @Model.items.Keys)
        {
            total_price += item.Price * @Model.items[item];
            <div style="display: flex; align-items: center;">
                <div class="grid-item-cart">
                    @{
                        var base64 = Convert.ToBase64String(item.Image);
                        var imgSrc = $"data:image/gif;base64,{base64}";
                    }

                    <img src="@imgSrc" class="item-img"/>
                    <span class="item-title">@item.Manufacturer.Title @item.Title</span>
                    <hr>
                    <span class="item-type">@item.Item_Code.Title</span>
                    <div class="product-price">
                    </div>
                </div>
                <div class="qty mt-5">
                    <button asp-action="CartDecrement" name="dec" value="@item.Id" class="minus bg-dark">-</button>
                    <input type="number" class="count" name="qty" value="@Model.items[@item]">
                    <button asp-action="CartIncrement" name="inc" value="@item.Id" class="plus bg-dark">+</button>
                </div>
                <b>Цена: @string.Format("{0:f2}", @item.Price)</b>
                <button name="button" class="delete-button" value="@item.Id" asp-action="CartDelete">Удалить</button>
            </div>
        }
        if (@Model.items.Count == 0)
        {
            <p>
                <h2>Ваша корзина пуста</h2>
            </p>
        }
        <h2>Итого: @string.Format("{0:f2}", @total_price)</h2>
    }
    @{
        if (@Model.items.Count > 0)
        {
            <button type="submit" class="basket-button">Перейти к созданию заказа</button>
        }
    }
</form>