@model Cart

<form class="left-column-cart">
@{
    foreach(var item in @Model.items.Keys)
    {
                <div style="">
                <div class="grid-item-cart">
                            @{
                        var base64 = Convert.ToBase64String(item.Image);
                        var imgSrc = $"data:image/gif;base64,{base64}";
                            }

                            <img src="@imgSrc" class="item-img"/>
                            <span class="item-title">@item.Manufacturer.Title @item.Title</span>
                            <hr>
                            <span class="item-type">@item.Item_Code.Title</span>
                </div>
                    <input type="number" id="points" name="points" step="1">
                </div>
    }
}
</form>